<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="select.system.dao.UserMapper">
    <resultMap id="UserMap" type="select.system.dto.User">
        <id property="id" column="id"/>
        <id property="userName" column="username"/>
        <id property="password" column="password"/>
    </resultMap>

    <select id="selectByName" resultType="User">
        select * from sys_user where username = #{userName}
    </select>

    <select id="selectById" resultType="User">
        select * from sys_user where id = #{id}
    </select>

    <select id="selectAll" resultType="User">
        select * from sys_user
    </select>

    <insert id="insertOne">
        insert sys_user values(#{id} , #{userName} , #{password})
    </insert>

    <insert id="insertMany">
    insert into sys_user(id,username,password)
    values
    <foreach collection="list" item="user" index="index" separator=",">
        (#{user.id} , #{user.userName},#{user.password})
    </foreach>
    </insert>

    <update id="updateOne">
        update sys_user set username = #{userName} where id = #{id}
    </update>

    <delete id="deleteById">
        delete from sys_user where id = #{id}
    </delete>

    <select id="SelectByStartIndexAndPageSize" resultType="User">
        select * from sys_user  limit #{param1} , #{param2}
    </select>

    <select id="selectByMap" resultType="User">
        select * from sys_user limit #{startIndex} , #{pageSize}
    </select>

    <select id="SelectByPageBean" resultType="User">
        select * from sys_user limit #{startIndex} , #{pageSize}
    </select>

    <select id="selectByLike" resultType="User">
        select * from sys_user
        where username like "%"#{keywords}"%"
        limit #{startIndex} , #{pageSize}
    </select>
    <!--查询金额-->
    <select id="selectByUserName" resultType="User">
        select * from sys_user where username = #{userName}
    </select>

    <update id="updateAccountOut">
        update sys_user set account = (account - #{accountMoney}) where username = #{userName}
    </update>

    <update id="updateAccountIn">
        update sys_user set account = (account + #{accountMoney}) where username = #{userName}
    </update>

    <insert id="accountOutInsert">
        insert into trasf_record
        ( username , old_account ,transaction_amount , new_account , target_account , account_type )
        values
        ( #{userName} ,#{account} , #{accountMoney} , (#{account} - #{accountMoney}) , #{targetAccount} , #{accountType})
    </insert>

    <insert id="accountInInsert">
        insert into trasf_record
        (username , old_account ,transaction_amount , new_account , target_account , account_type )
        values
        (#{userName} ,#{account} , #{accountMoney} , (#{account} + #{accountMoney}) , #{targetAccount} , #{accountType})
    </insert>

</mapper>